.register-img2{ background:url("register-img2.png") top left no-repeat; }
.电商-登录_r2_c2{ width:1px; height:486px; background-position:-10px -10px; }
.电商-登录_r3_c4{ width:603px; height:463px; background-position:-10px -506px; }

